BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 120
SortIncludes: false
Cpp11BracedListStyle: false
SpacesInAngles: false
SpacesInContainerLiterals: true
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
DerivePointerAlignment: true
FixNamespaceComments: true
PackConstructorInitializers: CurrentLine
