# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode/*
build/*
install/*
log/*

*.pdf
*.gv
.txt

# Do not ignore this specific pdf
!doc/Architecture/frames_2026-04-02_13.45.32.pdf